@(product: Form[UpdateBasketForm],user: Seq[User])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.BasketItemsController.updateBasketItemHandle()) {
    @helper.CSRF.formField
    @inputText(product("name"))
    <input name="id" id="id" value="@product("id").value" type="hidden" />

    <select name="user" id="user">
    @for(cat <- user){
        @if(cat.id.toString==product("user").value.getOrElse(0)) {
            <option value="@cat.id" selected>@cat.email</option>
        }else{
            <option value="@cat.id">@cat.email</option>
        }

    }
    </select>

    <div class="buttons">
        <input type="submit" value="Update Basket Item"/>
    </div>
}

