@import controllers.routes
@import views.html.helper.form
@import play.api.data.Form
@import models.Basket
@import play.api.mvc.MessagesRequestHeader
@import play.api.mvc.Flash
@import views.html.helper
@import views.html.helper.inputText
@(basketItem: Form[FavoriteItemCreateForm], product: Seq[Product], user: Seq[User] )(implicit request: MessagesRequestHeader, flash: Flash)


@flash.get("success").getOrElse("")

@form(routes.FavoriteItemsController.addFavoriteItemHandle()) {
    @helper.CSRF.formField
    Product
    <select name="product" id="product">
    @for(p <- product){
        <option value="@p.id">@p.name</option>
    }
    </select>

    User:
    <select name="user" id="user">
    @for(p <- user){
        <option value="@p.id">@p.email</option>
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Add Favorite Item"/>
    </div>
}

