@(productQuestion: Form[ProductDescriptionCreateForm], product: Seq[Product])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.ProductDescriptionController.addProductQuestionHandle()) {
    @helper.CSRF.formField

    <select name="product" id="product">
    @for(u <- product){
        <option value="@u.id">@u.name</option>
    }
    </select>

    @inputText(productQuestion("description"))

    <div class="buttons">
        <input type="submit" value="Add Product Description"/>
    </div>
}

