@(promo: Form[CreatePromoForm], product: Seq[Product])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.PromoController.addPromoHandle()) {
    @helper.CSRF.formField

    <select name="product" id="product">
    @for(u <- product){
        <option value="@u.id">@u.name</option>
    }
    </select>

    @inputText(promo("promoAmount"))

    <div class="buttons">
        <input type="submit" value="Add Promo"/>
    </div>
}
